doctype html
html
	include inc/head.jade
	body
		- cur = 1
		include inc/header.jade
		.about-0030
			.container
				.main-content
					.col-xs-12.col-sm-3.sidebar
						.panel-group#accordion(role="tablist" aria-multiselectable="true")
							.panel.panel-default
								.panel-heading#heading1(role="tab")
										a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1") 
											h4.panel-title 精细检索
											span.caret
								.panel-collapse.collapse.in#collapse1(role="tabpanel" aria-labelledby="heading1" aria-expanded="true")
									.panel-group#accordion2(role="tablist" aria-multiselectable="true")
										.panel.panel-default
											.panel-heading#heading2(role="tab")
													a(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2") 
														h4.panel-title 项目分类
														span.caret
											.panel-collapse.collapse.in#collapse2(role="tabpanel" aria-labelledby="heading2" aria-expanded="true")
												ul.list-group
													li.list-group-item 
														a(href="#") 医疗行业
													li.list-group-item 
														a(href="#") 电商行业
													li.list-group-item 
														a(href="#") P2P行业
										.panel.panel-default
											.panel-heading#heading3(role="tab")
													a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
														h4.panel-title 更新时间
														span.caret
											.panel-collapse.collapse#collapse3(role="tabpanel" aria-labelledby="heading3" aria-expanded="false")
												ul.list-group
													li.list-group-item 
														a(href="#") 医疗行业
													li.list-group-item 
														a(href="#") 电商行业
													li.list-group-item 
														a(href="#") P2P行业
										.panel.panel-default
											.panel-heading#heading4(role="tab")
													a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
														h4.panel-title 年份
														span.caret
											.panel-collapse.collapse#collapse4(role="tabpanel" aria-labelledby="heading4" aria-expanded="false")
												ul.list-group
													li.list-group-item 
														a(href="#") 医疗行业
													li.list-group-item 
														a(href="#") 电商行业
													li.list-group-item 
														a(href="#") P2P行业
										.panel.panel-default
											.panel-heading#heading5(role="tab")
													a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
														h4.panel-title 月份
														span.caret
											.panel-collapse.collapse#collapse5(role="tabpanel" aria-labelledby="heading5" aria-expanded="false")
												ul.list-group
													li.list-group-item 
														a(href="#") 医疗行业
													li.list-group-item 
														a(href="#") 电商行业
													li.list-group-item 
														a(href="#") P2P行业
										.panel.panel-default
											.panel-heading#heading6(role="tab")
													a.collapsed(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
														h4.panel-title 点播次数
														span.caret
											.panel-collapse.collapse#collapse6(role="tabpanel" aria-labelledby="heading6" aria-expanded="false")
												ul.list-group
													li.list-group-item 
														a(href="#") 医疗行业
													li.list-group-item 
														a(href="#") 电商行业
													li.list-group-item 
														a(href="#") P2P行业
							
					.main-box.col-xs-12.col-sm-9
						.main
							.heading
								h4 有关” 超越无限 “的搜索结果
							.gallery-0020.search-result-0040
								.grid
									- for (i=1; i<6; i++)
										//-square
										.gallery-item.item.clearfix
											figure
												a(href="#")
													.image(data-content="07:25").pull-left
														img(src="img/0020/pic#{i}.jpg")
												figcaption
													a(href="#")
														h4 视频标题名称
													p.date 上传者：王某某
													p.date 上传时间：2015年09月29日
													p.description 北京超越无限信息技术有限公司（Beijing Beyond Boundless Information Technology Co., Ltd.）成立于2010年。公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨一句话简介：开发、技术咨询、技术培训、成立于2010年。公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、成立于2010年。公司主要从事计算机信技术咨服务等相产品销售。
										//-end square
									.page.align-right.pull-right
										ul
											li: a(href="#") 首页
											li: a(href="#") 上一页
											li.active: a(href="#") 1
											- for (i=2; i<5; i++)
												li: a(href="#") #{i}
											li: a(href="#") 下一页
											li: a(href="#") 末页
											li
												.gopage
													form#gopage                
														input.ipt-go(type="text")
														input.btn-go(type="submit" value="GO")

		include inc/footer.jade